awscli==1.16.266
blis==0.4.1
botocore==1.13.2
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
conllu==2.2
cymem==2.0.2
decorator==4.4.1
docutils==0.15.2
en-core-sci-lg==0.2.4
idna==2.8
jmespath==0.9.4
joblib==0.14.0
murmurhash==1.0.2
networkx==2.4
nmslib==1.8.2
numpy==1.17.3
pandas==0.25.2
plac==0.9.6
preshed==3.0.2
pyasn1==0.4.7
pybind11==2.4.3
pyConTextNLP==0.7.0.1
pysbd==0.2.0
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
scispacy==0.2.4
six==1.12.0
spacy==2.2.1
srsly==0.1.0
thinc==7.1.1
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.3.0
xlrd==1.2.0
xlwt==1.3.0
